language: java

jdk:
  - openjdk8

before_install:
  - git update-index --chmod=+x mvnw

install:
  - mvn -N io.takari:maven:wrapper
  - ./mvnw install -Dmaven.javadoc.skip=true -B -V

after_install:
  - cp /target/boot-app.jar D:/Personal Projects/MaintenanceAppJar/

#deploy:
#  provider: cloudfoundry
#  username: praveeryudi@gmail.com
#  password: $PCF_TOKEN
#  api: https://api.run.pivotal.io
#  organization: praveeryudi-org
#  space: development
#  manifest: manifest.yml
#  app_name: praveeryudi-org

notifications:
  email: praveeryudi@gmail.com